.badge-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: navy;
  color: white;
  font-size: 14;
  margin: 0 10px;
}
.card-header,
.card-body,
.card-footer {
  display: flex;
}
