<h2 style="font-size: 30px; font-weight: bold; margin-top: 10px">
  ngtempt-ngtemptoutlet-ngcontainer works!
</h2>
<div style="border: 2px dotted red; padding: 10px 20px">
  <div class="card">
    <div class="card-header">
      You have selected
      <ng-container [ngTemplateOutlet]="cardTemplate"></ng-container>
    </div>
    <div class="card-body">
      There are
      <ng-container [ngTemplateOutlet]="cardTemplate"></ng-container> was
      selected.
    </div>
    <div class="card-footer">
      You have selected
      <ng-container [ngTemplateOutlet]="cardTemplate"></ng-container>
    </div>
  </div>

  <ng-template #cardTemplate>
    <span class="badge-primary">{{ counter }}</span
    >items.
  </ng-template>

  <hr />

  <h3>using ngTemplateOutlet</h3>
  <ng-template #navTemplate>
    <div>link1</div>
    <div>link2</div>
    <div>link3</div>
  </ng-template>
  <ng-container
    [ngTemplateOutlet]="otherTemplate || navTemplate"
    [ngTemplateOutletContext]="{ link: 'link', name: 'link1', label: 'link2' }"
  ></ng-container>
  <h3>using ngTemplateOutletContext</h3>
  <p style="font-weight: 500; font-style: italic">
    <span style="color: red">ngTemplateOutletContext</span> can't be used in
    components
  </p>
  <ng-template
    #navTemplateContext
    let-l="link"
    let-name="name"
    let-label="label"
  >
    <div>{{ l }}</div>
    <div>{{ name }}</div>
    <div>{{ label }}</div>
  </ng-template>
  <!-- cách 1 -->
  <!-- <ng-container
    [navTemplate1]="otherTemplate || navTemplate"
    [ngTemplateOutletContext]="{ link: 'link', name: 'link1', label: 'link2' }"
  ></ng-container> -->
  <!-- cách 2 -->
  <ng-container
    *ngTemplateOutlet="
      otherTemplate || navTemplateContext;
      context: { link: 'link1', name: 'link22', label: 'link33' }
    "
  ></ng-container>
</div>
