<h2 style="font-size: 30px; font-weight: bold">
  custom-two-way-data-binding works!
</h2>
<div style="display: flex">
  <div>
    <input type="text" [(ngModel)]="data.name" />
    <input type="text" [(ngModel)]="data.age" />
  </div>
  <div style="display: flex; margin-left: 20px">
    <p style="margin-right: 20px">Name:{{ data.name }}.</p>

    <p>Age:{{ data.age }}</p>
  </div>
</div>
