<h2 style="font-size: 30px; font-weight: bold">
  component-interaction-input-binding works!
</h2>
<div
  style="
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
  "
>
  <div class="progress" [style.backgroundColor]="backgroundColor">
    <div
      class="progress-bar-content"
      [style]="{
        backgroundColor: progressColor,
        width: progress + '%'
      }"
    ></div>
  </div>
  <div style="margin-left: 20px">
    <button
      style="width: 150px; height: 20px"
      (click)="progress = progress + 1"
    >
      increase
    </button>
    <button
      style="width: 150px; height: 20px"
      (click)="progress = progress - 1"
    >
      reduced
    </button>
  </div>
</div>
