<h2 style="font-size: 30px; font-weight: bold; margin-top: 10px">
  content-projection works!
</h2>
<div>
  <div>
    <ng-content select="[title]"></ng-content>
  </div>
  <div>
    <ng-content select="[desc]"></ng-content>
  </div>
  <div>
    <ng-content select="p"></ng-content>
  </div>
</div>
