<div>
  <h2 style="font-size: 30px; font-weight: bold">
    app-structure-directive-for
  </h2>

  <!-- Đây là cách làm cũ -->

  <!-- <div>
    <p *ngFor="let item of authors">
      {{ item.id }} | {{ item.firstName }} | {{ item.lastName }}
    </p>
  </div> -->

  <!-- Cách làm mới trong angular 17 -->
  <div>
    @for (item of authors; track item.id; let idx = $index,e = $even) {
    <p>
      {{ item.id }} || {{ item.lastName }} || {{ item.firstName }} || @if(e===
      true) { chẵn } @else {lẻ}
    </p>
    }
  </div>
</div>
