<h2 style="font-size: 30px; font-weight: bold">demo-observable works!</h2>
<div>
  <p>
    Observables are a technique for event handling, asynchronous programming,
    and handling multiple values emitted over time.(nôn na là sinh ra để giải
    quyết những vấn đề xử lý mà promise không xử lý được)
  </p>
  <div>
    <h3>Common Creation Operators</h3>
    <div>
      <div>
        <p>
          &#8658;
          <span
            >of():dùng để tạo 1 observable từ bất kì giá trị, of() sẽ nhận về
            giá trị và sẽ complete ngay sau khi tất giá trị truyền vào được emit
          </span>
        </p>
        <p>
          e.g: of('123').subscribe(observer) &#8658; 1 2 3
          <br />
          e.g: of([1,2,3]).subscribe(observer) &#8658; [1, 2, 3]
        </p>
      </div>
      <div>
        <p>
          &#8658;
          <span
            >from():Cũng tương tự như of() là dùng để tạo 1 observable từ 1 giá
            trị,nhưng điểm khác là from() chỉ nhận giá trị là một Iterable hoặc
            Promise.
          </span>
        </p>
        <p>
          e.g: from('hello world').subscribe(observer) &#8658; h e l l o w o r l
          d
          <br />
          e.g: from([1,2,3]).subscribe(observer) &#8658; 1,2,3
          <br />
          e.g: from(Promise.resolve('hello world')).subscribe(observer) &#8658;
          hello world
        </p>
      </div>
      <div>
        <p>
          &#8658;
          <span
            >fromEvent():dùng để chuyển đổi 1 sự kiên sang Observable.
          </span>
        </p>
        <p></p>
      </div>
      <div>
        <p>
          &#8658;
          <span
            >fromEventPattern(addHandlerFn,remoteHandlerFn):Nó là 1 dạng nâng
            cao của fromEvent. Những điểm khác của fromEventPattern so với
            formEvent là cách dùng, thường thì được sử dụng để thao tác tới API
            của html</span
          >
        </p>
      </div>
      <div>
        <p>
          &#8658;
          <span
            >interval():là hàm để tạo Observable mà sẽ emit giá trị số nguyên từ
            số 0 theo 1 chu kỳ nhất định. Hàm này giống với setInterval</span
          >
        </p>
      </div>
      <div>
        <p>
          &#8658;
          <span
            >timer(initialDelay,scheduler):là hàm để tạo Observable mà sẽ emit
            giá trị sẽ bị delay một khoảng thời gian nhất định, Hàm này giống
            với settimeout. lưu ý, nó sẽ giống setInterval nếu tham số scheduler
            được truyền vào</span
          >
        </p>
      </div>
      <div>
        <p>
          &#8658;
          <span
            >throwError():là hàm để tạo Observable mà thay vì emit giá trị thì
            observable này sẽ trả về một error sau khi subscribe</span
          >
        </p>
      </div>
      <div>
        <p>
          &#8658;
          <span
            >defer():là hàm để tạo Observable, defer sẽ nhận vào một
            observableFactory và sẽ trả về observable, điểm đặc biệt là defer sẽ
            dùng observableFactory này để tạo 1 Observable mới cho mỗi subscribe
          </span>
        </p>
        <p>
          e.g: const now$= of(math.random)
          <br />
          &#8660; now$.subscribe(observer) &#8594; 0.123123 <br />
          &#8660; now$.subscribe(observer) &#8594; 0.123123
          <br />
          &#8660; now$.subscribe(observer) &#8594; 0.123123
          <br />
          e.g:const useDefer$ = defer( () => of(math.random() ) )
          <br />
          &#8660; useDefer$.subscribe(observer) &#8594; 0.123123
          <br />
          &#8660; useDefer$.subscribe(observer) &#8594; 0.11231678
          <br />
          &#8660; useDefer$.subscribe(observer) &#8594; 0.123168954
          <br />
        </p>
      </div>
    </div>
    <h3>Transformation Operators</h3>
    <div>
      <div>
        <p>
          &#8658;
          <span
            >map(Fn):khác với map của js, map trong ngjx sẽ nhận vào một
            Observable cha hoặc trước nó
          </span>
        </p>
        <p>
          &#8658;
          <span
            >pluck('a-property'):e.g:
            users.pipe(pluck('id')).subscribe(observer);
          </span>
        </p>
      </div>
    </div>
    <div>
      <input type="text" id="debounceInput" />
      <p>{{ debounceInputVal }}</p>
    </div>
  </div>
</div>
