<h2 style="font-size: 30px; font-weight: bold">
  contentchild-and-contentchildren works!
</h2>
<div class="tabs" style="display: flex; margin-bottom: 20px; margin-left: 10px">
  @for (tab of tabs; track $index) {
  <div style="display: block">
    <button
      (click)="selectedItem(tab)"
      style="width: 100px; margin-right: 10px"
    >
      {{ tab }}
    </button>
    @if (itemSelected === tab) {
    <div>
      <p>content tab: {{ itemSelected }}.</p>
      <app-counter></app-counter>
      <ng-template tabContent>
        <div>hello world</div>
      </ng-template>
    </div>
    }
  </div>
  }
</div>
