<router-outlet>
  <button (click)="handleClick()">Click me</button>
  <app-structure-if-else [showContent]="true"></app-structure-if-else>
  <hr />
  <app-structure-directive-for></app-structure-directive-for>
  <hr />
  <app-component-interaction-input-binding></app-component-interaction-input-binding>
  <hr />
  <div>
    <h2 style="font-size: 30px; font-weight: bold">
      event-binding components!
    </h2>
    @for (author of listAuthor; track $index) {
    <app-event-binding
      [author]="author"
      (selected)="onSelected($event)"
      (deleteAuthor)="handleDeleteAuthor($event)"
    ></app-event-binding>
    }
    <br />
    <div>current select author: {{ authorSelected.firstName }}</div>
  </div>
  <hr />
  <app-custom-two-way-data-binding></app-custom-two-way-data-binding>
  <app-template-variable-and-viewchild-viewchildren
    #toggleBtn
  ></app-template-variable-and-viewchild-viewchildren>

  <app-content-projection>
    <p title>title name</p>
    <p desc>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis illum est
      temporibus qui esse deserunt eum! Tenetur suscipit atque aliquid quas,
      voluptatibus dolorum nesciunt temporibus quo natus culpa magni magnam.
    </p>
    <ng-container ngP></ng-container>
    <p>hihi</p>
  </app-content-projection>
  <!-- ngTemplate - ngTemplateOutlet - ngContainer -->
  <ng-template #otherTemplate>
    <div>active 1</div>
    <div>active 2</div>
    <div>active 3</div>
  </ng-template>

  <!-- <app-ngtempt-ngtemptoutlet-ngcontainer
    [otherTemplate]="otherTemplate"
  ></app-ngtempt-ngtemptoutlet-ngcontainer> -->
  <app-ngtempt-ngtemptoutlet-ngcontainer></app-ngtempt-ngtemptoutlet-ngcontainer>

  <!-- dependency injection(DI) -->
  <app-dependency-injection-angular></app-dependency-injection-angular>

  <!-- content child and content children -->
  <div style="margin-bottom: 20px">
    <app-contentchild-and-contentchildren
      [tabs]="['FirstTab', 'SecondTab', 'ThirdTab', 'FourthTab']"
      (clicked)="tabSelected = $event"
    ></app-contentchild-and-contentchildren>
  </div>

  <app-demo-pipe></app-demo-pipe>
  <app-demo-observable></app-demo-observable>
</router-outlet>
