<h2 style="font-size: 30px; font-weight: bold; margin-top: 10px">
  demo pipe and demo custom pipe
</h2>
<div>
  <p>-Date pipe</p>
  <p style="padding-left: 15px">
    {{ currentDate }}=> {{ currentDate | date }}
    ||
    {{ currentDate | date : "medium" }}
  </p>
</div>
<div>
  <p>-UpperCase pipe</p>
  <p style="padding-left: 15px">"Hữu Lương" =>{{ "Hữu Lương" | uppercase }}</p>
</div>
<div>
  <p>-lowerCase pipe</p>
  <p style="padding-left: 15px">"Hữu Lương"=> {{ "Hữu Lương" | lowercase }}</p>
</div>
<div>
  <p>-Currency pipe</p>
  <p style="padding-left: 15px">"100000"=> {{ "100000" | currency }}</p>
</div>
<div>
  <p>-Decimal pipe</p>
  <p style="padding-left: 15px">
    "123.4567884"=> {{ "12312.4567884" | number : "1.1-3" }}
  </p>
</div>
<div>
  <p>-percent pipe</p>
  <p style="padding-left: 15px">"0.48"=> {{ "0.48" | percent }}</p>
</div>
<div>
  <p>-json pipe</p>
  <p style="padding-left: 15px">{{ user }}=> {{ user | json }}</p>
</div>
<div>
  <p>
    -async pipe:Hiển thị value của observable và tự động unsubscribe khi view
    được destroy
  </p>
  <p style="padding-left: 15px">{{ interval$ | async }}</p>
</div>

<p>Custom Pipe</p>
<ul style="display: flex">
  <div>
    <p>list user</p>
    @for (user of users; track $index) {
    <li>{{ user.name }} - {{ user.age }}</li>
    }
  </div>
  <div style="padding-left: 50px">
    <p>list user > 18</p>
    @for (user of users | adultPipe ; track $index) {
    <li>{{ user.name }} - {{ user.age }}</li>
    }
  </div>
</ul>
