<h2 style="font-size: 30px; font-weight: bold">app-structure-if-else</h2>
<!-- Cách 1, đây là cách củ -->

<!-- <div *ngIf="showContent; else noShowContent">Bạn có thể xem nội dung</div>
<ng-template #noShowContent> Bạn không thể xem nội dung </ng-template> -->

<!-- cách 2, đây là cách mới từ angular 17 -->

<div>
  @if (showContent) {
  <div>Bạn co thể xem nội dung này!</div>
  }@else {
  <div>Bạn không thể xem nội dung này!</div>
  }
</div>
