/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  padding: 0 20px;
  margin-bottom: 30px;
}
