<h2 style="font-size: 30px; font-weight: bold; margin-top: 10px">
  template-variable-and-viewchild-viewchildren works!
</h2>
<div>
  <div style="border: 2px dotted red; padding: 10px 20px">
    <h3>Template variable: syntax: #varname. ex: #toggleCom</h3>
    <p>
      Để lấy chính xác một instance của một directive/components thì sẽ sử dụng
      cú pháp : #varname ="exportAsOfDirectiveOrComponent"
    </p>
    <p>ex: #nameForm="ngForm" || #name="ngModel"</p>
    <p>
      nameForm: mong muốn lấy instance của directive có exportAs là ngForm
      <br />
      name: mong muốn lấy instance của directive có exportAs là ngModel
    </p>
  </div>
  <div style="border: 2px dotted red; padding: 10px 20px; margin-top: 20px">
    <h3>view Child and view Children</h3>

    <button #btnRef (click)="toggle()">Click me!</button>
    <button #btnRef (click)="toggle()">Click me!</button>
    <button #btnRef (click)="toggle()">Click me!</button>
  </div>
</div>
